@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.Extensions.Localization;
    @inject IViewLocalizer localizer
    <section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_2.jpg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">@localizer["Name"]</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">@localizer["Home"] <i class="ion-ios-arrow-forward"></i></a></span> <span>@localizer["Name"] <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>
		
		<section class="ftco-section ftco-no-pt ftc-no-pb">
			<div class="container">
				<div class="text-about">
					<div class="text-about">
						<div class="text px-4 ftco-animate">
	          	<h2 class="mb-4">@localizer["Project"]</h2>
							<p>@localizer["Text"]</p>
							
						</div>
					</div>
					</div>
					</div>
          	
		</section>

		
		
    