@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.Extensions.Localization;
    @inject IViewLocalizer localizer
    <section class="hero-wrap hero-wrap-2" style="background-image: url(https://cdn.pixabay.com/photo/2020/11/10/22/28/contact-us-5731122_960_720.png);">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">@localizer["Name"]</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="/Home/Index">@localizer["Home"] <i class="ion-ios-arrow-forward"></i></a></span> <span>@localizer["Contact"] <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section contact-section">
      <div class="container">
        <div class="row d-flex mb-5 contact-info">
          <div class="col-md-3 d-flex">
          	<div class="bg-light align-self-stretch box p-4 text-center">
          		<h3 class="mb-4">@localizer["Address"]</h3>
	            <p>@localizer["AddressText"]</p>
	          </div>
          </div>
          <div class="col-md-3 d-flex">
          	<div class="bg-light align-self-stretch box p-4 text-center">
          		<h3 class="mb-4">@localizer["Phone"]</h3>
	            <p><a href="tel://1234567920">+375-44-563-79-31</a></p>
	          </div>
          </div>
          <div class="col-md-3 d-flex">
          	<div class="bg-light align-self-stretch box p-4 text-center">
          		<h3 class="mb-4">@localizer["Email"]</h3>
	            <p><a href="mailto:info@yoursite.com">egor.ivanovBYM@gmail.com</a></p>
	          </div>
          </div>
          
        </div>
      </div>
    </section>
		
		<section class="ftco-section ftco-no-pt ftco-no-pb contact-section">
			<div class="container">
				<div class="row d-flex align-items-stretch no-gutters">
					<div class="col-md-6 p-4 p-md-5 order-md-last bg-light">
						<form action="#">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="@localizer["NameField"]">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="@localizer["Email"]">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="@localizer["Theme"]">
              </div>
              <div class="form-group">
                <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="@localizer["Message"]"></textarea>
              </div>
              <div class="form-group">
                <input type="submit" value="@localizer["Send"]" class="btn btn-primary py-3 px-5">
              </div>
            </form>
					</div>
					<div class="col-md-6 d-flex align-items-stretch">
					@*	<div id="map"></div>*@
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2349.8921147134383!2d27.425694099999998!3d53.915893!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbc4cd2fd7a703%3A0x7ae3e43a8ed68c77!2z0YPQuy4g0J3RkdC80LDQvdGB0LrQsNGPIDQ1LCDQnNC40L3RgdC6!5e0!3m2!1sru!2sby!4v1685957242294!5m2!1sru!2sby" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"> id="map"</iframe>
					</div>
				</div>
			</div>
		</section>

		
    