

@inject IViewLocalizer viewLocalizer
@model IQueryable<Event>
@{
	@using Diplom.Service
@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.Extensions.Localization;

	int size = Model.Count();
}

<head> <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet"/>

    <link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/animate.css"/>

    <link rel="stylesheet" href="/css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="/css/owl.theme.default.min.css"/>
    <link rel="stylesheet" href="/css/magnific-popup.css"/>

    <link rel="stylesheet" href="/css/aos.css"/>

    <link rel="stylesheet" href="/css/ionicons.min.css"/>

    <link rel="stylesheet" href="/css/flaticon.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/style.css" asp-append-version="true"/></head>

<section class="home-slider owl-carousel">
	<div class="slider-item" style="background-image:url(/images/bg_1.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
				<div class="col-md-8 text-center ftco-animate">
					<h1 class="mb-4">@viewLocalizer["MainLoop"] <span></span></h1>
					<p><a href="#" class="btn btn-secondary px-4 py-3 mt-3">@viewLocalizer["MoreBut"]</a></p>
				</div>
			</div>
		</div>
	</div>

	<div class="slider-item" style="background-image:url(/images/bg_2.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
				<div class="col-md-8 text-center ftco-animate">
					<h1 class="mb-4">@viewLocalizer["MainLoop2"]<span></span></h1>
					<p><a href="#" class="btn btn-secondary px-4 py-3 mt-3">@viewLocalizer["MoreBut"]</a></p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-services ftco-no-pb">
	<div class="container-wrap">
		<div class="row no-gutters">
			<div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-primary">
				<div class="media block-6 d-block text-center">
					<div class="icon d-flex justify-content-center align-items-center">
						<span class="flaticon-teacher"></span>
					</div>
					<div class="media-body p-2 mt-3">
						<h3 class="heading">@viewLocalizer["BoxName1"]</h3>
						<p>@viewLocalizer["BoxText1"]</p>
					</div>
				</div>      
			</div>
			<div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-tertiary">
				<div class="media block-6 d-block text-center">
					<div class="icon d-flex justify-content-center align-items-center">
						<span class="flaticon-reading"></span>
					</div>
					<div class="media-body p-2 mt-3">
						<h3 class="heading">@viewLocalizer["BoxName2"]</h3>
						<p>@viewLocalizer["BoxText2"]</p>
					</div>
				</div>    
			</div>
			<div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-fifth">
				<div class="media block-6 d-block text-center">
					<div class="icon d-flex justify-content-center align-items-center">
						<span class="flaticon-books"></span>
					</div>
					<div class="media-body p-2 mt-3">
						<h3 class="heading">@viewLocalizer["BoxName3"]</h3>
						<p>@viewLocalizer["BoxText3"]</p>
					</div>
				</div>      
			</div>
			<div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-quarternary">
				<div class="media block-6 d-block text-center">
					<div class="icon d-flex justify-content-center align-items-center">
						<span class="flaticon-diploma"></span>
					</div>
					<div class="media-body p-2 mt-3">
						<h3 class="heading">@viewLocalizer["BoxName4"]</h3>
						<p>@viewLocalizer["BoxText4"]</p>
					</div>
				</div>      
			</div>
		</div>
	</div>
</section>

<section class="ftco-section ftco-no-pt ftc-no-pb">
	<div class="container">
		<div class="row">
			<div class="col-md-5 order-md-last wrap-about py-5 wrap-about bg-light">
				<div class="text px-4 ftco-animate">
					<h2 class="mb-4">@viewLocalizer["WelcomeLaw"]</h2>
					<p>@viewLocalizer["LawText"]</p>
					<p><a href="/Library/Library" class="btn btn-secondary px-4 py-3">@viewLocalizer["LawBut"]</a></p>
				</div>
			</div>
			<div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate">
				<h2 class="mb-4">@viewLocalizer["NeedName"]</h2>
				<div class="row mt-5">
					<div class="col-lg-6">
						<div class="services-2 d-flex">
							<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-security"></span></div>
							<div class="text">
								<h3>@viewLocalizer["Fundamentals"]</h3>

							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="services-2 d-flex">
							<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-reading"></span></div>
							<div class="text">
								<h3>@viewLocalizer["Citizen"]</h3>

							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="services-2 d-flex">
							<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-diploma"></span></div>
							<div class="text">
								<h3>@viewLocalizer["Rights"]</h3>

							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="services-2 d-flex">
							<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-education"></span></div>
							<div class="text">
								<h3>@viewLocalizer["Socio"]</h3>

							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-intro" style="background-image: url(/images/bg_3.jpg);" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<h2>@viewLocalizer["GamesWelcome"]</h2>
				<p class="mb-0">@viewLocalizer["GamesText"]</p>
			</div>
			<div class="col-md-3 d-flex align-items-center">
				<p class="mb-0"><a href="/Test/Tests" class="btn btn-secondary px-4 py-3">@viewLocalizer["GamesBut"]</a></p>
			</div>
		</div>
	</div>
</section>


<!-- <section class="ftco-section ftco-no-pb">
<div class="container">
<div class="row justify-content-center mb-5 pb-2">
<div class="col-md-8 text-center heading-section ftco-animate">
<h2 class="mb-4"><span>Certified</span> Teachers</h2>
<p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
</div>
</div>	
<div class="row">
<div class="col-md-6 col-lg-3 ftco-animate">
<div class="staff">
<div class="img-wrap d-flex align-items-stretch">
<div class="img align-self-stretch" style="background-image: url(images/teacher-1.jpg);"></div>
</div>
<div class="text pt-3 text-center">
<h3>Bianca Wilson</h3>
<span class="position mb-2">Teacher</span>
<div class="faded">
<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
<ul class="ftco-social text-center">
<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
<li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
</ul>
</div>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3 ftco-animate">
<div class="staff">
<div class="img-wrap d-flex align-items-stretch">
<div class="img align-self-stretch" style="background-image: url(images/teacher-2.jpg);"></div>
</div>
<div class="text pt-3 text-center">
<h3>Mitch Parker</h3>
<span class="position mb-2">English Teacher</span>
<div class="faded">
<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
<ul class="ftco-social text-center">
<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
<li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
</ul>
</div>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3 ftco-animate">
<div class="staff">
<div class="img-wrap d-flex align-items-stretch">
<div class="img align-self-stretch" style="background-image: url(images/teacher-3.jpg);"></div>
</div>
<div class="text pt-3 text-center">
<h3>Stella Smith</h3>
<span class="position mb-2">Art Teacher</span>
<div class="faded">
<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
<ul class="ftco-social text-center">
<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
<li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
</ul>
</div>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3 ftco-animate">
<div class="staff">
<div class="img-wrap d-flex align-items-stretch">
<div class="img align-self-stretch" style="background-image: url(images/teacher-4.jpg);"></div>
</div>
<div class="text pt-3 text-center">
<h3>Monshe Henderson</h3>
<span class="position mb-2">Science Teacher</span>
<div class="faded">
<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
<ul class="ftco-social text-center">
<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
<li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</section> -->

<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-2">
			<div class="col-md-8 text-center heading-section ftco-animate">
				<h2 class="mb-4"><span>@viewLocalizer["Important"]</span> @viewLocalizer["Events"]</h2>
				<p>@viewLocalizer["EventsText"]</p>
			</div>
		</div>	

		<div class="row">
			@{
				int count = 0;
			}
			@foreach(var ent in Model)
			{
				if(count==4)
				{
					break;
				}
					<div class="col-md-6 course d-lg-flex ftco-animate">
						<div class="img" style="background-image: url(@ent.Image);"></div>
						<div class="text bg-light p-4">
								<h3><a asp-controller="Home" asp-action="Event" asp-route-id="@ent.Id" >@ent.Name</a></h3>
							<p class="subheading"><span>Дата:</span>@ent.Date.Day @Extensions.MonthConverter(@ent.Date.Month) @ent.Date.Year</p>

						</div>
				</div>
				count++;
			}
					
				</div>
			</div>
		</section>

		<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: 
url(/images/bg_4.jpg);" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-2">
		  <div class="col-md-8 text-center heading-section heading-section-black ftco-animate">
			<h2 class="mb-4"><span>@viewLocalizer["five"]</span> @viewLocalizer["working"]</h2>
			<p>@viewLocalizer["WorkingText"]</p>
		  </div>
		</div>	
			<div class="row d-md-flex align-items-center justify-content-center">
				<div class="col-lg-10">
					<div class="row d-md-flex align-items-center">
				  <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
					<div class="block-18">
						<div class="icon"><span class="flaticon-doctor"></span></div>
					  <div class="text">
						<strong class="number" data-number="18">0</strong>
						<span>@viewLocalizer["Awards"]</span>
					  </div>
					</div>
				  </div>
				  <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
					<div class="block-18">
						<div class="icon"><span class="flaticon-doctor"></span></div>
					  <div class="text">
						<strong class="number" data-number="351">0</strong>
						<span>@viewLocalizer["Childrens"]</span>
					  </div>
					</div>
				  </div>
				  <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
					<div class="block-18">
						<div class="icon"><span class="flaticon-doctor"></span></div>
					  <div class="text">
						<strong class="number" data-number="564">0</strong>
						<span>@viewLocalizer["Parents"]</span>
					  </div>
					</div>
				  </div>
				  <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
					<div class="block-18">
						<div class="icon"><span class="flaticon-doctor"></span></div>
					  <div class="text">
						<strong class="number" data-number="300">0</strong>
						<span>@viewLocalizer["Feedback"]</span>
					  </div>
					</div>
				  </div>
			  </div>
		  </div>
		</div>
		</div>
	</section>

	<section class="ftco-section testimony-section bg-light">
	  <div class="container">
		<div class="row justify-content-center mb-5 pb-2">
		  <div class="col-md-8 text-center heading-section ftco-animate">
			<h2 class="mb-4"><span>@viewLocalizer["Reviews"]</span> @viewLocalizer["AboutUs"]</h2>
			<p>Здесь находятся отзывы людей, которые захотели высказаться о работе нашей команды, мы учитываем все пожелания и критику, так что не стесняйтесь и пишите все что думаете.</p>
		  </div>
		</div>
		<div class="row ftco-animate justify-content-center">
		  <div class="col-md-12">
			<div class="carousel-testimony owl-carousel">
			  <div class="item">
				<div class="testimony-wrap d-flex">
				  <div class="user-img mr-4" style="background-image: url(/images/teacher-1.jpg)">
				  </div>
				  <div class="text ml-2 bg-light">
					  <span class="quote d-flex align-items-center justify-content-center">
					  <i class="icon-quote-left"></i>
					</span>
					<p>@viewLocalizer["ReviewText1"]</p>
					<p class="name">@viewLocalizer["ReviewName1"]</p>
					<span class="position">@viewLocalizer["ReviewSex1"]</span>
				  </div>
				</div>
			  </div>
			  <div class="item">
				<div class="testimony-wrap d-flex">
				  <div class="user-img mr-4" style="background-image: url(/images/teacher-2.jpg)">
				  </div>
				  <div class="text ml-2 bg-light">
					  <span class="quote d-flex align-items-center justify-content-center">
					  <i class="icon-quote-left"></i>
					</span>
					<p>@viewLocalizer["ReviewText2"]</p>
					<p class="name">@viewLocalizer["ReviewName2"]</p>
					<span class="position">@viewLocalizer["ReviewSex1"]</span>
				  </div>
				</div>
			  </div>
			  <div class="item">
				<div class="testimony-wrap d-flex">
				  <div class="user-img mr-4" style="background-image: url(/images/teacher-3.jpg)">
				  </div>
				  <div class="text ml-2 bg-light">
					  <span class="quote d-flex align-items-center justify-content-center">
					  <i class="icon-quote-left"></i>
					</span>
					<p>@viewLocalizer["ReviewText3"]</p>
					<p class="name">@viewLocalizer["ReviewName3"]</p>
					<span class="position">@viewLocalizer["ReviewSex2"]</span>
				  </div>
				</div>
			  </div>
			  <div class="item">
				<div class="testimony-wrap d-flex">
				  <div class="user-img mr-4" style="background-image: url(/images/teacher-4.jpg)">
				  </div>
				  <div class="text ml-2 bg-light">
					  <span class="quote d-flex align-items-center justify-content-center">
					  <i class="icon-quote-left"></i>
					</span>
					<p>@viewLocalizer["ReviewText4"]</p>
					<p class="name">@viewLocalizer["ReviewName4"]</p>
					<span class="position">@viewLocalizer["ReviewSex1"]</span>
				  </div>
				</div>
			  </div>
			  <div class="item">
				<div class="testimony-wrap d-flex">
				  <div class="user-img mr-4" style="background-image: url(/images/teacher-1.jpg)">
				  </div>
				  <div class="text ml-2 bg-light">
					  <span class="quote d-flex align-items-center justify-content-center">
					  <i class="icon-quote-left"></i>
					</span>
					<p>@viewLocalizer["ReviewText5"]</p>
					<p class="name">@viewLocalizer["ReviewName5"]</p>
					<span class="position">@viewLocalizer["ReviewSex1"]</span>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</section>

	@*<section class="ftco-section ftco-consult ftco-no-pt ftco-no-pb" style="background-image: url(images/bg_5.jpg);" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row justify-content-end">
				<div class="col-md-6 py-5 px-md-5 bg-primary">
			  <div class="heading-section heading-section-white ftco-animate mb-5">
				<h2 class="mb-4">Оставьте отзыв!</h2>
				<p>Отзыв будет проверен администрацией перед публикацией</p>
			  </div>
			  <form asp-controller="Home" asp-action="SendReview" class="appointment-form ftco-animate">
						<div class="d-md-flex">
							<div class="form-group">
								<input type="text" class="form-control"  placeholder="Имя">
							</div>
							<div class="form-group ml-md-4">
								<input type="text" class="form-control" placeholder="Фамилия">
							</div>
						</div>
						<div class="d-md-flex">
							<div class="form-group">
								<div class="form-field">
							  <div class="select-wrap">
					  <div class="icon"><span class="ion-ios-arrow-down"></span></div>
					  <select name="" id="" class="form-control">
						  <option value="">Отец или мать?</option>
						<option value="">Мать</option>
						<option value="">Отец</option>
					  </select>
					</div>
					  </div>
							</div>
							<!-- <div class="form-group ml-md-4">
								<input type="text" class="form-control" placeholder="Phone">
							</div> -->
						</div>
						<div class="d-md-flex">
							<div class="form-group">
					  <textarea name="" id="" cols="30" rows="2" class="form-control" placeholder="Текст"></textarea>
					</div>
					<div class="form-group ml-md-4">
					  <input type="submit" value="Request A Quote" class="btn btn-secondary py-3 px-4">
					</div>
						</div>
					</form>
				</div>
		</div>
		</div>
	</section>*@

	<!-- <section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-2">
		  <div class="col-md-8 text-center heading-section ftco-animate">
			<h2 class="mb-4"><span>Our</span> Pricing</h2>
			<p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
		  </div>
		</div>
			<div class="row">
			<div class="col-md-6 col-lg-3 ftco-animate">
				<div class="pricing-entry bg-light pb-4 text-center">
					<div>
						<h3 class="mb-3">Basic</h3>
						<p><span class="price">$24.50</span> <span class="per">/ 5mos</span></p>
					</div>
					<div class="img" style="background-image: url(images/bg_1.jpg);"></div>
					<div class="px-4">
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
					<p class="button text-center"><a href="#" class="btn btn-primary px-4 py-3">Take A Course</a></p>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 ftco-animate">
				<div class="pricing-entry bg-light pb-4 text-center">
					<div>
						<h3 class="mb-3">Standard</h3>
						<p><span class="price">$34.50</span> <span class="per">/ 5mos</span></p>
					</div>
					<div class="img" style="background-image: url(images/bg_2.jpg);"></div>
					<div class="px-4">
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
					<p class="button text-center"><a href="#" class="btn btn-secondary px-4 py-3">Take A Course</a></p>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 ftco-animate">
				<div class="pricing-entry bg-light active pb-4 text-center">
					<div>
						<h3 class="mb-3">Premium</h3>
						<p><span class="price">$54.50</span> <span class="per">/ 5mos</span></p>
					</div>
					<div class="img" style="background-image: url(images/bg_3.jpg);"></div>
					<div class="px-4">
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
					<p class="button text-center"><a href="#" class="btn btn-tertiary px-4 py-3">Take A Course</a></p>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 ftco-animate">
				<div class="pricing-entry bg-light pb-4 text-center">
					<div>
						<h3 class="mb-3">Platinum</h3>
						<p><span class="price">$89.50</span> <span class="per">/ 5mos</span></p>
					</div>
					<div class="img" style="background-image: url(images/bg_5.jpg);"></div>
					<div class="px-4">
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
					<p class="button text-center"><a href="#" class="btn btn-quarternary px-4 py-3">Take A Course</a></p>
				</div>
			</div>
		</div>
		</div>
	</section> -->

		<section class="ftco-section bg-light">
			<div class="container">
				<div class="row justify-content-center mb-5 pb-2">
		  <div class="col-md-8 text-center heading-section ftco-animate">
			<h2 class="mb-4"><span>@viewLocalizer["Other"]</span> @viewLocalizer["News"]</h2>
			<p>@viewLocalizer["NewsText"]</p>
		  </div>
		</div>
				<div class="row">
			@{
				count = 0;
			}
					@foreach(var ent in Model)
			{
				if (count == 3)
				{
					break;
				}
				Random rand= new Random();
				var id = rand.Next(0, size);
				
				<div class="col-md-6 col-lg-4 ftco-animate">
			<div class="blog-entry">
				  <a asp-controller="Home" asp-action="Event" asp-route-id="@ent.Id" class="block-20 d-flex align-items-end" style="background-image: url(@ent.Image)">
								<div class="meta-date text-center p-2">
				 <span class="day">@ent.Date.Day</span>
                          <span class="mos">@Extensions.MonthConverter(ent.Date.Month)</span>
                          <span class="yr">@ent.Date.Year</span>
				</div>
			  </a>
			  <div class="text bg-white p-4">
					<h3 class="heading"><a asp-controller="Home" asp-action="Event" asp-route-id="@ent.Id">@ent.Name</a></h3>
				<div class="d-flex align-items-center mt-4">
						<p class="mb-0"><a asp-controller="Home" asp-action="Event" asp-route-id="@ent.Id" class="btn btn-secondary">Узнать больше <span class="ion-ios-arrow-round-forward"></span></a></p>
					<p class="ml-auto mb-0">
						<a href="#" class="mr-2">@ent.Publisher</a>

					</p>
				</div>
			  </div>
			</div>
				</div>
				count++;
			}
		</div>
			</div>
		</section>

		<section class="ftco-gallery">
		<div class="container-wrap">
			<div class="row no-gutters">
					<div class="col-md-3 ftco-animate">
						<a href="/images/image_1.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/images/course-1.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
							<span class="icon-instagram"></span>
						</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="/images/image_2.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/images/image_2.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
							<span class="icon-instagram"></span>
						</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="/images/image_3.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/images/image_3.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
							<span class="icon-instagram"></span>
						</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="/images/image_4.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/images/image_4.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
							<span class="icon-instagram"></span>
						</div>
						</a>
					</div>
		</div>
		</div>
	</section>
