@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IViewLocalizer localizer




        <section class="hero-wrap hero-wrap-2" style="background-image: url(https://images.wallpaperscraft.ru/image/single/kod_tsifry_matritsa_127037_1920x1080.jpg)">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center">
                    <div class="col-md-9 ftco-animate text-center">
                        <h1 class="mb-2 bread">@localizer["Panel"]</h1>

                    </div>
                </div>
            </div>
        </section>

        <section class="ftco-section">
            <div class="container">

                <h1 align="center">@localizer["News"]</h1>

                <div class="row">
                    <div class="col-md-6 col-lg-3 ftco-animate">
                        <div class="pricing-entry bg-light pb-4 text-center">
                            <div>
                            </div>
                            <p>@localizer["NewsPage"]</p>
                            <p class="button text-center"><a class="btn btn-primary px-4 py-3" asp-controller="Admin" asp-action="News" asp-route-id="">@localizer["FollowBut"]</a></p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>

        <section class="ftco-section">
            <div class="container">

                <h1 align="center">@localizer["Tests"]</h1>

                <div class="row">
                    <div class="col-md-6 col-lg-3 ftco-animate">
                        <div class="pricing-entry bg-light pb-4 text-center">
                            <div>
                            </div>
                            <p>@localizer["TestsPage"]</p>
                            <p class="button text-center"><a class="btn btn-primary px-4 py-3" asp-controller="Admin" asp-action="Tests" asp-route-id="">@localizer["FollowBut"]</a></p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
        <section class="ftco-section">
            <div class="container">

                <h1 align="center">Отзывы</h1>

                <div class="row">
                    <div class="col-md-6 col-lg-3 ftco-animate">
                        <div class="pricing-entry bg-light pb-4 text-center">
                            <div>
                            </div> 
                            <p>Страница с отзывами</p>
                            <p class="button text-center"><a class="btn btn-primary px-4 py-3" asp-controller="Admin" asp-action="Reviews" asp-route-id="">@localizer["FollowBut"]</a></p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>




       
 
