@model Question
@{
    string[] arr=Model.Answers.Split(';');
}
<section class="hero-wrap hero-wrap-2" style="background-image: url(https://primamediamts.servicecdn.ru/f/big/3610/3609838.png?1bacce6a83c460be4076bbc74c79ad7a)">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Прохождение теста</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="/Home/Index">Главная <i class="ion-ios-arrow-forward"></i></a></span><span class="mr-2"><a href="/Test/Tests">Тесты <i class="ion-ios-arrow-forward"></i></a></span> <span>Текущий тест <i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>


       <section class="ftco-section">
       
        <div class="ques">
        <h1  align="center">@Model.Title</h1>
        @using(Html.BeginForm("Questions","Test",FormMethod.Post))
        {
@*        <form asp-controller="Test" asp-action="Questions" method="post">
*@        @*<input align="center" type="radio" name="q"/><label>@arr[0]</label><br>
        <input align="center" type="radio" name="q"/><label>@arr[1]</label><br>
        <input align="center" type="radio" name="q"/><label>@arr[2]</label><br>
        <input   type="radio"  name="q" id="right"/><label>@Model.RightAnswer</label><br>*@
        @Html.RadioButton("q","")@arr[0]<br>
        @Html.RadioButton("q","")@arr[1]<br>
        @Html.RadioButton("q","")@arr[2]<br>
        @Html.RadioButton("q","right")@Model.RightAnswer<br>
        <center> <input   type="submit" value="Следующий вопрос" class="btn btn-primary py-3 px-5">
        
        </center>
        }
@*        </form>
*@        </div>
            
           
    </section>


