@model IQueryable<Test>

<section class="hero-wrap hero-wrap-2" style="background-image: url(/images/bg_2.jpg)">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Тесты</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="/Home/Index">Главная <i class="ion-ios-arrow-forward"></i></a></span> <span>Тесты <i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>


        <section class="ftco-section">
        <div class="container">

    

            <div class="row">
            @foreach (Test test in Model)
            {
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="pricing-entry bg-light pb-4 text-center">
                        <div>

                            <p><span class="price">@test.Name</span> </p>
                        </div>
                        <div class="img" style="background-image: url(@test.Image);"></div>
                        <div class="px-4">
                            <p>@test.Description</p>
                            <input type="hidden" name="id" value="@test.Id">
                        </div>
                        <p class="button text-center"><a asp-controller="Test" asp-action="FirstQuestion" asp-route-id="@test.Id" class="btn btn-primary px-4 py-3">Пройти</a></p>
                    </div>
                </div>
            }
        </div>
            </div>
    </section>


