@model IQueryable<Review>
	@{
	@using Diplom.Domain.Entities

}
    @*<section class="hero-wrap hero-wrap-2" style="background-image: url(https://thumbs.dreamstime.com/b/%D0%B1%D0%BE%D0%BB%D1%8C%D1%88%D0%BE%D0%B9-%D0%BF%D0%B0%D0%BB%D0%B5%D1%86-%D0%B2%D0%B2%D0%B5%D1%80%D1%85-%D1%80%D0%B5%D0%BA%D0%BE%D0%BC%D0%B5%D0%BD%D0%B4%D1%83%D0%B5%D0%BC%D1%8B%D0%B5-%D0%B6%D0%B5%D1%81%D1%82%D1%8B-%D0%BF%D0%BE%D0%BA%D0%B0%D0%B7%D1%8B%D0%B2%D0%B0%D1%82%D1%8C-%D1%80%D0%B0%D0%B7%D0%BB%D0%B8%D1%87%D0%BD%D1%8B%D0%B5-220093922.jpg);">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Наши отзывы</h1>
            <p class="breadcrumbs"><span class="mr-2"><a asp-controller="Home" asp-action="Index">Главная <i class="ion-ios-arrow-forward"></i></a></span> <span>Отзывы <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>*@
		<section class="hero-wrap hero-wrap-2" style="background-image: url(https://images.wallpaperscraft.ru/image/single/kod_tsifry_matritsa_127037_1920x1080.jpg)">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Наши отзывы</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="/Home/Index">Главная <i class="ion-ios-arrow-forward"></i></a></span> <span>Отзывы <i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>
	

		<section class="ftco-section ftco-no-pb">
			<div class="container">
			@*	https://thumbs.dreamstime.com/b/%D0%B1%D0%BE%D0%BB%D1%8C%D1%88%D0%BE%D0%B9-%D0%BF%D0%B0%D0%BB%D0%B5%D1%86-%D0%B2%D0%B2%D0%B5%D1%80%D1%85-%D1%80%D0%B5%D0%BA%D0%BE%D0%BC%D0%B5%D0%BD%D0%B4%D1%83%D0%B5%D0%BC%D1%8B%D0%B5-%D0%B6%D0%B5%D1%81%D1%82%D1%8B-%D0%BF%D0%BE%D0%BA%D0%B0%D0%B7%D1%8B%D0%B2%D0%B0%D1%82%D1%8C-%D1%80%D0%B0%D0%B7%D0%BB%D0%B8%D1%87%D0%BD%D1%8B%D0%B5-220093922.jpg
				<div class="row justify-content-end">
				<div class="col-md-6 py-5 px-md-5 bg-primary">
			  <div class="heading-section heading-section-white ftco-animate mb-5">
				<h2 class="mb-4">Оставьте отзыв!</h2>
				<p>Отзыв будет проверен администрацией перед публикацией</p>
			  </div>
			  <form asp-controller="Home" asp-action="Reviews" method="post" class="appointment-form ftco-animate">
						<div class="d-md-flex">
							<div class="form-group">
								<input type="text" class="form-control" asp-for="@rev.Name"  placeholder="Имя">
							</div>
							<div class="form-group ml-md-4">
								<input type="text" class="form-control" asp-for="@rev.Image" placeholder="Ссылка">
							</div>
						</div>
						<div class="d-md-flex">
							<div class="form-group">
								<div class="form-field">
							  <div class="select-wrap">
					  <div class="icon"><span class="ion-ios-arrow-down"></span></div>
					  <select name="" id="" asp-for="@rev.Sex" class="form-control">
						  <option value="">Отец или мать?</option>
						<option value="">Мать</option>
						<option value="">Отец</option>
					  </select>
					</div>
					  </div>
							</div>
							<!-- <div class="form-group ml-md-4">
								<input type="text" class="form-control" placeholder="Phone">
							</div> -->
						</div>
						<div class="d-md-flex">
							<div class="form-group">
					  <textarea name="" id="" cols="30" rows="2" class="form-control" asp-for="@rev.Text" placeholder="Текст"></textarea>
					</div>
					<div class="form-group ml-md-4">
					  <input type="submit" value="Отправить" class="btn btn-secondary py-3 px-4">
					</div>
						</div>
					</form>
				</div>
		</div>*@
				<div class="row">
					@foreach(var item in Model)
						{
					<div class="col-md-6 col-lg-3 ftco-animate">
						
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(@item.Image);"></div>
							</div>
							<div class="text pt-3 text-center">
								<h3>@item.Name</h3>
								<span class="position mb-2">@item.Sex</span>
								<div class="faded">
									<p>@item.Text</p>
									
	              </div>
							</div>
						</div>
						</div>
						}
						 <div class="col-md-6 col-lg-3 ftco-animate">
                        <div class="pricing-entry bg-light pb-4 text-center">
                            <div>

                                <p><span class="price">Оставьте свой отзыв!</span> </p>
                            </div>

                            <p class="button text-center"><a asp-controller="Review" asp-action="AddReview"  class="btn btn-primary px-4 py-3">Оставить</a></p>
                            </div>
                </div>
					
					</div>
				</div>
					</section>
    
  

 